.header
    .header__header-item
        img(src="./assets/img/logo_cochu.png" href="./index.html").header__logo
        div.header-list
            button.header-item__home-page Trang chủ
            button.header-item__about-us Giới thiệu 
            button.header-item__login Đăng nhập
