extends ./index
include container-home__title
block container
    .container-home
        img(src="./assets/img/Gioi_thieu.png", alt="ERROR").container-home__img
        h2.container-home__title Tính năng nổi bật

        include ./container-home__title__item
    footer.footer
        div.footer__header PRINT SHOP - Dịch vụ in ấn thông minh dành cho sinh viên tại HCMUT  
        div.footer__content

        