.container-home__list
    +container_home_page("Đăng nhập dễ dàng", "Sinh viên truy cập hệ thống qua HCMUT_SSO, đảm bảo an toàn và bảo mật thông tin." )
    +container_home_page("Tạo đơn in tài liệu", "Tải file lên, chọn máy in gần nhất và thiết lập tùy chọn in (kích thước giấy, số trang, in một mặt/hai mặt, số lượng bản sao, hướng in").
    +container_home_page("Quản lý lịch sử in", "Sinh viên có thể xem lại lịch sử in của mình theo mốc thời gian, hiển thị số trang đã in theo kích thước giấy và tổng số trang.").
    +container_home_page("Thanh toán và quản lý", "Tự động trừ số trang A4 khi in. Nếu không đủ trang, hệ thống thông báo nạp thêm. Sinh viên có thể mua thêm trang A4 qua BKPay.").
