extends ../index.pug

block container
    h2.container-home__title.margin-top-60px Thành viên
    include member-list-item
    footer.footer
        div.footer__header PRINT SHOP - Dịch vụ in ấn thông minh dành cho sinh viên tại HCMUT  
        div.divider
        div.footer__content
            ul.footer__content__list
                li.footer__content__item Địa chỉ: 268 Lý Thường Kiệt, Phường 14, Quận 10, Hồ Chí Minh
                li.footer__content__item  Liên hệ: 086.xxx.xxx
                li.footer__content__item  Email: xxxxxxx@hcmut.edu.vn