include ./member-list.pug

.member-list-item
    +member-list("../assets/img/Trieu_Man.jpg", "Ngô Ngọc Triệu Mẫn")
    +member-list("../assets/img/Nam_Khanh.jpg", "Lê Nguyễn Nam Khánh")
    +member-list("../assets/img/Hoang_Bao.jpg", "Lô Hoàng Bảo")
    +member-list("../assets/img/Quoc_Binh.jpg", "Mai Quốc Bình")
    +member-list("../assets/img/Bao_Tran.jpg", "Lê Thanh Bảo Trân")
