include ./member-list.pug

.member-list-item
    +member-list("../assets/img/Trieu_Man.jpg", "Ngô Ngọc Triệu Mẫn")
    +member-list("../assets/img/Trieu_Man.jpg", "Lê Nguyễn Nam Khánh")
    +member-list("../assets/img/Trieu_Man.jpg", "Lô Hoàng Bảo")
    +member-list("../assets/img/Trieu_Man.jpg", "Mai Quốc Bình")
    +member-list("../assets/img/Trieu_Man.jpg", "Lê Thanh Bảo Trân")
