.header
    .header__header-item
        a(href="../home/home_page.html").header-logo-link
            img(src="../assets/img/logo_cochu.png").header__logo
        div.header-list
            button.header-item__home-page
                a.link_page(href="../home/home_page.html")  Trang chủ
            button.header-item__about-us 
                a.link_page(href="../about/about_us.html") Giới thiệu 
            button.header-item__print 
                a.link_page(href="../about/about_us.html") Dịch vụ in 
            button.header-item__login Đăng nhập
            div.header__navbar-item.header__navbar-user
                img.header__navbar-user-img(src="../assets/img/Trieu_Man.jpg" alt="")
                div.header__navbar-user-dropdown
                    i.fa-solid.fa-angle-down
                ul.header__navbar-user-menu
                    li.header__navbar-user-item
                        a(href="") Thông tin cá nhân
                    li.header__navbar-user-item
                        a(href="") Lịch sử in
                    li.header__navbar-user-item
                        a(href="") BKPay
                    li.header__navbar-user-item.header__navbar-user-item--separate
                        a(href="") Đăng xuất

.modal.js-modal
      .modal-container.js-modal-container
        .modal-close.js-modal-close
          i.fa-solid.fa-xmark
        header.modal-header
          i.ti-bag
          p Đăng nhập 
        .modal-body
            .modal-form
                label.modal-label
                    // for chi tro den id
                    |Tên đăng nhập
                input#howmany.modal-input(type='text')
                label.modal-label(for='email1')
                    |Mật khẩu
                input#email1.modal-input(type='password')
                div.modal-label-result
                    button#buy-tickets
                        | Đăng nhập
                    button#buy-delete
                        | Xoá nội dung
        
script(src="../header.js")

