.container-info-list {
    background: #FFEBEB;
    box-shadow: 0 4px 4px rgba(0 , 0, 0, 0.25);
    margin-left: 210px;
    margin-right: 210px;
    display: flex;
}

.container-info-list__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 38px;
    max-width: 320px;
    
}
.container-info-list__right {
    display:flex;
    flex-wrap: wrap;
    margin-left: 63px;
    margin-top: 49px;
}

.container-info-list__button-history{
    padding: 12px 17px;
    background-color: #C75B7A;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 2.4rem;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    width: 186px;
    margin-top: 28px;
    margin-bottom: 52px;
    text-align: center;
}

.container-info-list__button-history:hover{
    background: rgba(146, 26, 64,0.8);
}
.container-info-list__img {
    width: 300px;  /* Chiều ngang cố định */
    height: 300px; /* Chiều dài cố định */
    border-radius: 5px; 
    border: 0.4px #474747 solid; 
    object-fit: cover; /* Đảm bảo hình ảnh lấp đầy kích thước */
}

.container-info-list__item-value{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    margin-top: 16px;
    background: transparent;
    border: transparent;
    width: 100%;
    outline: none;
}

.container-info-list__item-item{
    width: 50%;
}

.fa-pen.container-info-list__icon{
    color: var(--text-color);
    font-size: 1.6rem;
    margin-left: 8px;
    width: 16px;
    height:16px;
    z-index: 10;
}

.container-info-list__header{
    display: flex;
    align-items: center;
}

/* .container-info-list__header:nth-child(2),
.container-info-list__header:nth-child(6),
.container-info-list__header:nth-child(7){
    display: flex;
    align-items:normal;
    flex-direction: column;
} */

.container-info-list__item-name{
    font-size: 2rem;
    color: #921A40;
    font-weight: 600;
}

.container-info-list__header.default{
    display: flex;
    flex-direction: column;
    align-items:normal;
}

.container-info-list__button-history.button-update-info{
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    width: 150px;
    background: #C75B7A;
}

.container-info-list__button-history.button-update-info:hover{
    background: rgba(146, 26, 64,0.8);
}

/* mua them giay */


.modal-buy{
    position: fixed;
    /* 1 lop de len lop chinh */
    top:0;
    right:0;
    bottom:0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    /* display:flex; */
    align-items: center;
    z-index: 100;
    /* nam giua thang cha */
    justify-content: center; 
    border-radius: 10px;
    /* nam giua chieu nang thang cha */
    box-shadow: 0px 4px 4px #921A40;

}
.modal-buy.open{
    display: flex;
}
.modal-buy.tat{
    display: none;
}
.modal-buy .modal-container-buy{
    background: #F7EFE5;
    width: 500px;
    height: 400px;
    color: var(--text-color);
    position: relative;
    animation: modalFadeIn ease 0.5s;
    border-radius: 10px;
    
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #921A40;
    padding: 12px;
    font-size: 20px;
    font-weight: 400;
}
.modal-close:hover{
    color:rgba(146, 26, 64,0.6);
    cursor: pointer;
}
.modal-header{
    background: #D9ABAB;
    height:110px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #921A40;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.4;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
}
.modal-body{
    padding: 0 16px;
}
.modal-label-buy{
    display: block;
    /* moi thang nam tren 1 hang rieng biet */
    font-size: 15px;
    margin-top: 0px;
    font-style:normal;
}

.modal-input{
    border:1px solid #C4C4C4;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15.5px;
    margin-top: 6px;
    background: #F7EFE5;
    border-radius: 3px;
}

.modal-label-buy-result{
    display: flex;
    justify-content: space-around;
    text-transform:none;
    width: 100%;
    background: transparent;
    border: transparent;
}

.modal-form{
    background: rgba(217, 171, 171, 0.2);
    padding-top: 46px;
    padding-bottom: 19px;
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 38px;
    margin-bottom: 38px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 5px;

}

#button-buy-pager{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C75B7A;
    border: none;
    color: #fff;
    width: 186px;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 18px;
    cursor: pointer;
    border-radius: 50px;
    /* tao hinh con chuot */
}
#button-buy-pager:hover{
    opacity: 0.8;
    /* tao do nhac khi tro vao */
}

#name_user:hover,
#phone:hover,
#email:hover{
    border-left: 2px solid rgba(146, 26, 64,0.3);
}

#upload-container.upload-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 13px;
}

#avatar{
    width: 100%;
    font-size: 1rem;
}

#upload-container.upload-container button{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
    font-size: 1.4rem;
    margin-bottom: 27px;
    background: #C75B7A;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 600;
}

#upload-container.upload-container button:hover{
    opacity: 0.8;
    /* tao do nhac khi tro vao */
}